.main {
    width: 1400px;
    height: 800px;
    margin: 50px auto;
    background-image: url('keyboard.png');
    position: relative;
}
.main > div {
    position: absolute;
    background-image: url('keyboard.png');
}

#key_q {
    width: 93px;
    height: 91px;
    top: 202px;
    left: 165px;
    background-position-x: -1455px;
    background-position-y: -39px;
}

#key_e {
    width: 92px;
    height: 91px;
    top: 202px;
    left: 353px;
    background-position-x: -1712px;
    background-position-y: -40px;
}

#key_w {
    width: 92px;
    height: 91px;
    top: 202px;
    left: 260px;
    background-position-x: -1586px;
    background-position-y: -40px;
}

#key_s {
    width: 93px;
    height: 89px;
    top: 294px;
    left: 283px;
    background-position-x: -1587px;
    background-position-y: -159px;
}

#key_a {
    width: 92px;
    height: 89px;
    top: 294px;
    left: 190px;
    background-position-x: -1457px;
    background-position-y: -158px;
}

#key_d {
    width: 91px;
    height: 89px;
    top: 294px;
    left: 377px;
    background-position-x: -1713px;
    background-position-y: -160px;
}

#key_ctrl {
    width: 94px;
    height: 92px;
    top: 476px;
    left: 118px;
    background-position-x: -1457px;
    background-position-y: -295px;
}

#key_space {
    width: 469px;
    height: 90px;
    top: 476px;
    left: 422px;
    background-position-x: -1607px;
    background-position-y: -296px;
}

#key_arrow_up {
    width: 92px;
    height: 39px;
    top: 476px;
    left: 1194px;
    background-position-x: -1568px;
    background-position-y: -427px;
}

#key_arrow_down {
    width: 91px;
    height: 50px;
    top: 516px;
    left: 1194px;
    background-position-x: -1568px;
    background-position-y: -477px;
}

#key_arrow_left {
    width: 94px;
    height: 92px;
    top: 475px;
    left: 1099px;
    background-position-x: -1456px;
    background-position-y: -434px;
}

#key_arrow_right {
    width: 95px;
    height: 91px;
    top: 475px;
    left: 1286px;
    background-position-x: -1686px;
    background-position-y: -436px;
}